<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Educate-Me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Add School <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/school-list">List of schools</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-student">Add Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/students">List of Students</a>
      </li>

    </ul>
  </div>
</nav>

<div class="row justify-content-center mt-7">
  <div class="col-lg-5 text-center">
    <a href="index.html">
      <img src="assets/img/svg/logo.svg" alt="">
    </a>
    <div class="card mt-5">
      <div class="card-body py-5 px-lg-5">
        <h3 class="fw-normal text-dark mt-4">
          Hello Admin with this interface you can add the schools in your database
        </h3>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">School Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div></div>
